{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main>
       
    <h1 class="fw-light">Personnages</h1>
        <ul>
        {% for character in characters %}
            <li>{{ character.firstname }} {{ character.lastname }}</li>    
        {% endfor %}
        </ul>

</main>
{% endblock %}
