{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main>
       
    <h1 class="fw-light">Catégories</h1>
        <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>    
        {% endfor %}
        </ul>

</main>
{% endblock %}
