{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main>
       
    <h1 class="fw-light">Catégories</h1>
    <a href="{{ path('backoffice_category_add')}}">Ajouter une nouvelle catégorie</a>
    <section>
        <ul>
        {% for category in categories %}
            <li><a href="{{ path('backoffice_category_show', {id: category.id})}}">{{ category.name }}</a></li>    
        {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
