{% extends "base.html.twig" %}

{% block body %}
<h1>{{ category.name }} </h1>
<p>
    <a href="{{ path('backoffice_category_edit', {id: category.id})}}">Editer</a>
</p>

<p>
    <a href="{{ path('backoffice_category_delete', {id: category.id})}}">Supprimer</a>
</p>

<p>
    <a href="{{ path('backoffice_category_index') }}">Retour à la liste des catégories</a>
 </p>
{% endblock %}