{% extends 'backoffice/layout.html.twig' %}

{% block content %}

<h1>{{ category.name }}</h1>

<p>
    <a class="btn btn-success" href="{{ path('backoffice_category_edit', {id: category.id})}}">Editer</a>
|
    <a class="btn btn-danger" href="{{ path('backoffice_category_delete', {id: category.id})}}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cet élément?');">Supprimer</a>
</p>
<p>
    <a class="btn btn-primary" href="{{ path('backoffice_category_index') }}">Retour à la liste</a>
 </p>

{% endblock %}