{% extends 'base.html.twig' %}

{% block title %}New TvShow{% endblock %}

{% block body %}
    <h1>Create new TvShow</h1>

    {{ include('backoffice/tv_show/_form.html.twig') }}

    <a href="{{ path('backoffice_tv_show_index') }}">back to list</a>
{% endblock %}
